@charset "ISO-8859-1";
body{background-color: white;}

div#1{color:blue;}
div#l1{float:right;width: 400px;}
div#d1{float:left;height: 50px;position:relative;left:60px;color:purple;}



/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: absolute;
    right:150px;
    
    width: 30%;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color:orange ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: orange;
    color: white;
}
div#d2{float:left;width:=400px;height: 50px;position:relative;left:60px;}
div#d3{float:left;width:=400px;height: 50px;position:relative;left:350px;}
div#d4{float:left;width:=400px;height: 50px;position:relative;left:60px;}
div#d5{float:left;width:=400px;height: 50px;position:relative;left:60px;}
div#d8{float:left;width:=400px;height: 40px;position:relative;left:308px;}
div#d9{float:left;width:=400px;height: 40px;position:relative;left:348px;}
div#d10{float:left;width:=400px;height: 40px;position:relative;left:388px;}
div#d11{float:left;width:=200px;height: 30px;position:relative;left:48px;}
div#d12{float:left;width:=200px;height: 30px;position:relative;left:83px;}
div#d13{float:left;width:=200px;height: 30px;position:relative;left:118px;}
div#d14{float:left;width:=400px;height: 50px;position:relative;left:345px;}
div#d15{float:left;width:=400px;height: 50px;position:relative;left:420px;}
div#d16{float:left;width:=400px;height: 50px;position:relative;left:495px;}
div#d17{float:left;width:=400px;height: 50px;position:relative;left:-232px;}
div#d18{float:left;width:=400px;height: 50px;position:relative;left:103px;}

div#d19{float:left;width:=400px;height: 50px;position:relative;left:550px;}
div#d20{float:left;width:=400px;height: 50px;position:relative;left:100px;}

